@import "./../../../scss/_style.scss";
@import "./../../../scss/_common.scss";
@import "./../../../scss/_mixin-responsive-wrapper.scss";
@import "./../../../scss/_mixin-sidemenu.scss";
@import "./../../../scss/_mixin-footer.scss";
@import "_mixin-topmenu.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

// header
header {
    @include topmenu-mobile();

    @include responsive(tablet-size) {
        @include topmenu-pc();
    }
}

// main
main {
    @include menu-flex();
}

// aside
aside {
    @include sidemenu-mobile();

    @include responsive(tablet-size) {
        @include sidemenu-pc();
    }
}

//article
article.des-1 {
    margin-top: 50px;
    margin-bottom: 50px;
    // background-color: aqua;

    @include responsive(tablet-size) {
        margin: 0 auto;
        margin-top: 70px;
        margin-bottom: 100px; 
    }

    .wrapper {
        @include wrapper();

        .des-1-flex {
            
            .des-1-left {

                video {
                    width: 100%;
                    height: 100%;
                    border: 1px solid #b2b2b2;
                    // aspect-ratio: 18/6;
                }

            }
    
            .des-1-right {
                margin-top: 20px;
                
                h2 {
                    font-size: 40px;
                }
                
                p {
                    font-size: 18px;
                    line-height: 22px;
                    margin-top: 10px;

                    @include responsive(tablet-size) {
                        line-height: 28px;
                    }
                }
            }
        }
    }
}
// footer
footer {
    @include footer-mobile();

    @include responsive(tablet-size) {
        @include footer-pc();
    }
}